<ion-header>
  <ion-toolbar>
    <ion-title>Über die App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="content">
    <div class="text-center">
      <img src="https://avatars3.githubusercontent.com/u/40035357?s=200&v=4" alt="">
      <h3>GymH</h3>
      <ion-item-divider>
      </ion-item-divider>
    </div>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum autem esse,
    natus dolores possimus labore incidunt adipisci quos pariatur provident
    consequatur modi corporis expedita tenetur eaque deleniti enim hic odit.
    <ion-card>
      <ion-card-header>
        <ion-card-title>Quellcode</ion-card-title>
        <ion-card-subtitle
          >Der gesamte Quellcode dieser App sowie aller zugehörigen Projekte ist
          öffentlich einsehbar.</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <a href="https://github.com/gymh" target="_blank"
          >https://github.com/gymh</a
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
