<ion-header>
  <ion-toolbar>
    <ion-title>Speiseplan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar id="day_navigation">
    <ion-button color="primary">
      Montag
    </ion-button>
    <ion-button color="medium">
      Dienstag
    </ion-button>
    <ion-button color="medium">
      Mittwoch
    </ion-button>
    <ion-button color="medium">
      Donnerstag
    </ion-button>
  </ion-toolbar>
  <div id="container">
    <ion-list>
      <h4>
        Recent Conversations
      </h4>

      <ion-item>
        <ion-label>
          <h2>Finn</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
